<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Soccer Streams</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-5 mb-5">Reddit Soccer Streams</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Time</th>
            <th>Match</th>
            <th>Watch</th>
          </tr>
        </thead>
        <tbody>
          <% matches.forEach((match) => { %>
            <tr>
              <td><%= match.time %></td>
              <td><%= match.match %></td>
              <td><a href="<%= match.watchRoute %>">Watch</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
