<!DOCTYPE html>
<html>
  <head>
    <title>Watch</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-5 mb-5">Watch</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= streamLink %>"></iframe>
      </div>
    </div>
  </body>
</html>
